body{
    background-color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header_div{
    background-color: antiquewhite;
    color: brown;
}
.header_div P{
    font-family: cursive;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: blanchedalmond;
    bottom: 0;
    width: 100%;
    font-size:18px ;
    background-color: aquamarine;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px gray;
}